<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" stderr="true" processIsolation="true" colors="true" beStrictAboutTestsThatDoNotTestAnything="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="tests/report"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Sinopac Test Suite">
      <directory>./tests/QPay</directory>
      <exclude>./tests/Examples</exclude>
    </testsuite>
  </testsuites>
  <php>
      <ini name="date.timezone" value="UTC"/>
      <const name="PHPUNIT_TEST" value="TRUE"/>
      <const name="CONFIG_STORE_ID" value="NA0249_001"/>
      <const name="CONFIG_HASH_A1" value="86D50DEF3EB7400E"/>
      <const name="CONFIG_HASH_A2" value="01FD27C09E5549E5"/>
      <const name="CONFIG_HASH_B1" value="9E004965F4244953"/>
      <const name="CONFIG_HASH_B2" value="7FB3385F414E4F91"/>
  </php>
</phpunit>
